{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-5" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}
<div class="row pt-2">
    <h2>Participantes del Proyecto</h2>
</div>
<div class="row pt-2">
    <button type="button" class="btn btn-dark bg-black w-100" data-bs-toggle="modal" data-bs-target="#VentanaAdd">Añadir
        Participante</button>
    <div class="modal fade" id="VentanaAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Particicpante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/anadir-responsable" method="post" autocomplete="off" id="formulario">
                        <div class="mb-3">
                            <input type="text" name="nombre" class="form-control"
                                placeholder="Nombre Completo del Participante" required autofocus>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="departamento" class="form-control"
                                placeholder="Departamento o Rol del Participante" required>
                        </div>
                        <div class="mb-3">
                            <input type="tel" name="telefono" class="form-control"
                                placeholder="El Télefono del Participante" required>
                        </div>
                        <div class="mb-3">
                            <input type="email" name="email" class="form-control"
                                placeholder="Correo electrónico del Participante" required>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-dark bg-black w-100">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-2">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Nombre del Participante</th>
                <th>Departamento del Participante</th>
                <th>Más información</th>
            </thead>
            <tbody>
                {% for responsable in responsables %}
                <tr>
                    <td>{{ responsable.nombre }}</td>
                    <td>{{ responsable.departamento }}</td>
                    <td>
                        <button type="button" class="btn btn-light btn-more" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{responsable.idResponsable}}"><i class="fa fa-plus"></i></button>
                        <a href="/edicion-responsable/{{responsable.idResponsable}}" class="btn btn-success"><i
                                class="fa fa-pencil"></i></a>
                        <a href="/eliminar-responsable/{{responsable.idResponsable}}"
                            class="btn btn-danger btn-delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% for responsable in responsables %}
<div class="modal fade" id="Ventana{{responsable.idResponsable}}" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Participante</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                <h4>Contacto del Participante</h4>
                <p><b>Teléfono: </b>{{responsable.telefono}}</p>
                <p><b>Correo electrónico: </b>{{responsable.correo}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}