{% extends "templateNoSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
<div class="row pt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center">
                <h2>Modificación de Participantes</h2>
            </div>
            <div class="card-body">
                <form action="/actualizar-responsable" method="post" autocomplete="off" id="formulario">
                    <div class="mb-3">
                        <input type="hidden" name="idResponsable" class="form-control" value="{{responsable.idUsuario}}" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input type="text" name="nombre" class="form-control" value="{{responsable.nombre}}" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellido Paterno</label>
                        <input type="text" name="aPaterno" class="form-control" value="{{responsable.apellidoPaterno}}" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellido Materno</label>
                        <input type="text" name="aMaterno" class="form-control" value="{{responsable.apellidoMaterno}}" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo Electrónico del Participante</label>
                        <input type="email" name="email" class="form-control" value="{{responsable.correo}}" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Télefono del Participante</label>
                        <input type="tel" name="telefono" class="form-control" value="{{responsable.telefono}}" required>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-dark bg-black w-100">Modificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}