{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-5" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}
<div class="row pt-2">
    <h2>Activos</h2>
</div>
<div class="row pt-2">
    <button type="button" class="btn btn-dark bg-black w-100" data-bs-toggle="modal" data-bs-target="#VentanaAdd">Añadir
        Activo</button>
    <div class="modal fade" id="VentanaAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Activo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/anadir-activos" method="post" autocomplete="off">
                        <div class="row">
                            <div class="mb-3">
                                <input type="text" name="nombre" class="form-control" placeholder="Nombre del activo"
                                    required autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <textarea name="descripcion" cols="30" rows="5" class="form-control"
                                    placeholder="Descripción completa del activo(Sin saltos de linea)"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label class="form-label">Confidencialidad</label>
                                <select name="confidencialidad" class="form-select" style="white-space: pre-line;"
                                    required>
                                    {% for valor, opcion in cdi['confidencialidad'].items() %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="form-label">Tipo de Activo</label>
                                <select name="idTipoActivo" class="form-select" required>
                                    {% for tipoActivo in tiposActivo %}
                                    <option value="{{tipoActivo.idTipoActivo}}">{{tipoActivo.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label class="form-label">Disponibilidad</label>
                                <select name="disponibilidad" class="form-select" style="white-space: pre-line;"
                                    required>
                                    {% for valor, opcion in cdi['disponibilidad'].items() %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="form-label">Tipo de Ubicación</label>
                                <select name="idTipoUbicacion" class="form-select">
                                    {% for tipoUbicacion in tiposUbicacion %}
                                    <option value="{{tipoUbicacion.idTipoUbicacion}}">{{tipoUbicacion.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <label class="form-label">Integridad</label>
                                <select name="integridad" class="form-select" style="white-space: pre-line;" required>
                                    {% for valor, opcion in cdi['integridad'].items() %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-dark bg-black w-100">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-2">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Nombre del Activo</th>
                <th class="custom-sort">Confidencialidad</th>
                <th class="custom-sort">Disponibilidad</th>
                <th class="custom-sort">Integridad</th>
                <th class="custom-sort">Sensibilidad</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                {% for activo in activos %}
                <tr>
                    <td>{{ activo.nombre }}</td>
                    <td>{{ activo.confidencialidad }}</td>
                    <td>{{ activo.disponibilidad }}</td>
                    <td>{{ activo.integridad }}</td>
                    <td>{{ activo.sensibilidad }}</td>
                    <td>
                        <button type="button" class="btn btn-light btn-more" data-bs-toggle="modal"
                            data-bs-target="#Ventana{{activo.idActivo}}"><i class="fa fa-plus"></i></button>
                        <a href="/modificar-activo/{{activo.idActivo}}" class="btn btn-success"><i
                                class="fa fa-pencil"></i></a>
                        <a href="/eliminar-activo/{{activo.idActivo}}" class="btn btn-danger btn-delete"><i
                                class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% for activo in activos %}
<div class="modal fade" id="Ventana{{activo.idActivo}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Activo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-justify">
                <p><b>Descripción: </b>{{activo.descripcion}}</p>
                <p><b>Tipo de Activo: </b>{{activo.tipoActivo.nombre}}</p>
                <p><b>Tipo de Ubicación: </b>{{activo.tipoUbicacion.nombre}}</p>
                <p><b>Confidencialidad: </b>{{cdi['confidencialidad'][activo.confidencialidad]}}</p>
                <p><b>Disponibilidad: </b>{{cdi['disponibilidad'][activo.disponibilidad]}}</p>
                <p><b>Integridad: </b>{{cdi['integridad'][activo.integridad]}}</p>
                <p><b>Sensibilidad: </b>{{cdi['sensibilidad'][activo.sensibilidad]}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    $(document).ready(function () {
    $('.table').DataTable({
        "lengthChange": false,
        "paging": false,
        "info": false,
        "language": {
            "search": "",  // Eliminar el texto "Buscar:"
            "searchPlaceholder": "Buscar Activo",  // Establecer el marcador de posición
            "zeroRecords": "No se encontraron registros coincidentes"
        },
        "columnDefs": [
            {
                "orderable": false,
                "searchable": true,
                "targets": [0]
            },
            {
                "orderable": true,
                "searchable": false,
                "targets": "custom-sort",
            },
            {
                "orderable": false,
                "searchable": false,
                "targets": [-1]
            }
        ]
    });
});
</script>
{% endblock %}