{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
<div class="row pt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-center">
                <h2>Modificación de Riesgos</h2>
            </div>
            <div class="card-body">
                <form action="/actualizar-riesgo" method="post" autocomplete="off">
                    <div class="mb-3">
                        <input type="text" name="idRiesgo" class="form-control" placeholder="Nombre del riesgo"
                            value="{{riesgo.idRiesgo}}" readonly required>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="nombre" class="form-control" placeholder="Nombre del riesgo" required
                            autofocus value="{{riesgo.nombre}}">
                    </div>
                    <div class="mb-3">
                        <textarea name="descripcion" cols="30" rows="10" class="form-control"
                            placeholder="Descripción completa del riesgo(Sin saltos de linea)">{{riesgo.descripcion}}</textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Selecciona el Activo (Su sensibilidad es el Impacto Técnico)
                        </label>
                        <select name="idActivo" class="form-select">
                            {% for activo in activos %}
                            {% if riesgo.idActivo == activo.idActivo %}
                            <option value="{{activo.idActivo}}" selected>{{activo.nombre}}</option>
                            {% else %}
                            <option value="{{activo.idActivo}}" selected>{{activo.nombre}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <h3>Factores de Probabilidad</h3>
                    </div>
                    <div class="mb-3">
                        <h5>Agente de Amenaza</h5>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="amenaza" class="form-control"
                            placeholder="Nombre del agente de amenaza" required value="{{riesgo.amenaza}}">
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Nivel de Habilidad</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="nivelHabilidad" class="form-select" style="white-space: pre-line;"
                                    required>
                                    {% for valor, opcion in factores_de_amenaza['nivel_de_habilidad'].items() %}
                                    {% if riesgo.nivelHabilidad == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Motivación</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="motivacion" class="form-select" style="white-space: pre-line;" required>
                                    {% for valor, opcion in factores_de_amenaza['motivación'].items() %}
                                    {% if riesgo.motivacion == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Oportunidad</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="oportunidad" class="form-select" style="white-space: pre-line;" required>
                                    {% for valor, opcion in factores_de_amenaza['oportunidad'].items() %}
                                    {% if riesgo.oportunidad == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Tamaño</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="tamaño" class="form-select" style="white-space: pre-line;" required>
                                    {% for valor, opcion in factores_de_amenaza['tamaño'].items() %}
                                    {% if riesgo.tamaño == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h5>Vulnerabilidad del Activo</h5>
                    </div>
                    <div class="mb-3">
                        <input type="text" name="vulnerabilidad" class="form-control"
                            placeholder="Nombre de la vulnerabilidad del activo" required
                            value="{{riesgo.vulnerabilidad}}">
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Facilidad de Descubrimiento</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="facilidadDescubrimiento" class="form-select"
                                    style="white-space: pre-line;" required>
                                    {% for valor, opcion in
                                    factores_de_vulnerabilidad['facilidad_de_descubrimiento'].items()
                                    %}
                                    {% if riesgo.facilidadDescubrimiento == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Facilidad de Explotación</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="facilidadExplotacion" class="form-select" style="white-space: pre-line;"
                                    required>
                                    {% for valor, opcion in
                                    factores_de_vulnerabilidad['facilidad_de_explotación'].items() %}
                                    {% if riesgo.facilidadExplotacion == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Conciencia</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="conciencia" class="form-select" style="white-space: pre-line;" required>
                                    {% for valor, opcion in factores_de_vulnerabilidad['conciencia'].items() %}
                                    {% if riesgo.conciencia == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Detección de Intrusiones</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="deteccionIntrusiones" class="form-select" style="white-space: pre-line;"
                                    required>
                                    {% for valor, opcion in
                                    factores_de_vulnerabilidad['detección_de_intrusiones'].items() %}
                                    {% if riesgo.deteccionIntrusiones == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h3>Factores de Impacto</h3>
                    </div>
                    <div class="mb-3">
                        <h5>Impacto Empresarial</h5>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Daño Financiero</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="impactoFinanciero" class="form-select" style="white-space: pre-line;"
                                    required>
                                    {% for valor, opcion in factores_de_impacto_empresarial['daño_financiero'].items()
                                    %}
                                    {% if riesgo.impactoFinanciero == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Daño a la Reputación</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="impactoReputacion" class="form-select" style="white-space: pre-line;"
                                    required>
                                    {% for valor, opcion in
                                    factores_de_impacto_empresarial['daño_a_la_reputación'].items() %}
                                    {% if riesgo.impactoReputacion == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Incumplimiento Legal</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="impactoLegal" class="form-select" style="white-space: pre-line;" required>
                                    {% for valor, opcion in factores_de_impacto_empresarial['incumplimiento'].items() %}
                                    {% if riesgo.impactoLegal == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label class="form-label">Violación de la Privacidad</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <select name="impactoUsuarios" class="form-select" style="white-space: pre-line;" required>
                                    {% for valor, opcion in
                                    factores_de_impacto_empresarial['violación_de_la_privacidad'].items() %}
                                    {% if riesgo.impactoUsuarios == valor %}
                                    <option value="{{valor}}" selected>{{valor}}: {{opcion}}</option>
                                    {% else %}
                                    <option value="{{valor}}">{{valor}}: {{opcion}}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tipo de Riesgo</label>
                        <select name="idTipoRiesgo" class="form-select">
                            {% for tipoRiesgo in tiposRiesgo %}
                            {% if riesgo.idTipoRiesgo == tipoRiesgo.idTipoRiesgo %}
                            <option value="{{tipoRiesgo.idTipoRiesgo}}" selected>{{tipoRiesgo.nombre}}</option>
                            {% else %}
                            <option value="{{tipoRiesgo.idTipoRiesgo}}">{{tipoRiesgo.nombre}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-dark bg-black w-100">Modificar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}