{% extends "templateSideBar.html" %}

{% block username %} {{usuario.nombre}} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row pt-5" id="alertRow">
    <div class="alert alert-{{messages[0]}} alert-dismissible fade show" role="alert">
        {{messages[1]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="closeAlert"></button>
    </div>
</div>
{% endif %}
{% endwith %}
<div class="row pt-2"><h2>Riesgos</h2></div>
<div class="row pt-2">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Nombre del Riesgo</th>
                <th>Probabilidad</th>
                <th>Impacto</th>
                <th>Umbral Total</th>
            </thead>
            <tbody>
                {% for riesgo in riesgos_umbrales %}
                    <tr>
                        <td>{{ riesgo[0].nombre }}</td>
                        {% if riesgo[1] == 'Bajo' %}
                            <td style="background-color: green;">{{ riesgo[1] }}</td>
                        {% elif riesgo[1] == 'Medio' %}
                            <td style="background-color: yellow; color: black;">{{ riesgo[1] }}</td>
                        {% else %}
                            <td style="background-color: red">{{ riesgo[1] }}</td>
                        {% endif %}
                        {% if riesgo[2] == 'Bajo' %}
                            <td style="background-color: green;">{{ riesgo[2] }}</td>
                        {% elif riesgo[2] == 'Medio' %}
                            <td style="background-color: yellow; color: black;">{{ riesgo[2] }}</td>
                        {% else %}
                            <td style="background-color: red;">{{ riesgo[2] }}</td>
                        {% endif %}
                        {% if riesgo[0].umbral == 'Insignificante' %}
                            <td style="background-color: blue;">{{ riesgo[0].umbral }}</td>
                        {% elif riesgo[0].umbral == 'Bajo' %}
                            <td style="background-color: green;">{{ riesgo[1] }}</td>
                        {% elif riesgo[0].umbral == 'Medio' %}
                            <td style="background-color: yellow; color: black;">{{ riesgo[0].umbral }}</td>
                        {% elif riesgo[0].umbral == 'Alto' %}
                            <td style="background-color: orange; color: black;">{{ riesgo[0].umbral }}</td>
                        {% else %}
                            <td style="background-color: red;">{{ riesgo[0].umbral }}</td>
                        {% endif %}
                        <td>
                            <button type="button" class="btn btn-light" idelemento="{{riesgo[0].idRiesgo}}" onclick="mostrarSubTabla(this)"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                    <tr class="subtable text-justify" id="subtable_{{riesgo[0].idRiesgo}}" style="display: none;">
                        <td colspan="6">
                            <h4>Más información del Riesgo</h4>
                            <p><b>Descripción: </b>{{riesgo[0].descripcion}}</p>
                            <p><b>Tipo de Riesgo: </b>{{riesgo[0].tipoRiesgo.nombre}}</p>
                            <p><b>Probabilidad: </b>{{umbrales['Probabilidad'][riesgo[1]]}}</p>
                            <p><b>Impacto: </b>{{umbrales['Impacto'][riesgo[2]]}}</p>
                            <p><b>Umbral Total: </b>{{umbrales['Umbral Total'][riesgo[0].umbral]}}</p>
                            <p><b>Nombre del Activo asociado: </b>{{riesgo[0].activo.nombre}}</p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}